<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>  <!-- 驱动地址 -->
                <property name="url" value="jdbc:mysql://localhost:3306/jwb"/>  <!-- 数据库地址 -->
                <property name="username" value="root"/>  <!-- 登录用户名 -->
                <property name="password" value="023017lys"/>  <!-- 密码 -->
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--        <mapper resource="Learn03/mapper/selectTest.xml"/>-->
        <!--        <mapper resource="Learn03/mapper/insertTest.xml"/>-->
        <!--        <mapper resource="Learn03/mapper/deleteTest.xml"/>-->
        <mapper class="Learn03.Interfaces.insert02"/>
        <mapper class="Learn03.Interfaces.select02"/>
    </mappers>
</configuration>